@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Serif+Ahom&family=Orbitron&family=Righteous&family=Sofia+Sans+Extra+Condensed:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
   

}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
}
nav{
    display: flex;
    width: 100%;
    margin-left:100px;
    margin-top: 15px;
   
}
nav .logo{
    margin-top:-10px;
    width: 85px;
    height:75px;
}
nav ul{
   margin-left:630px;
}
nav ul li{
    display: inline-block ;
    list-style: none;
    margin: 10px 20px ;
}
nav ul li a{
    
    font-family: 'Lora', serif;
    text-decoration: none;
    color: rgb(88, 88, 88);
    font-weight: 700;
}
/* pseudo class
selector:pseudo-class name{property:value} */
nav ul li a:hover{
    color: rgb(178, 177, 177)
}
.title{

    margin-left: 8%;
    margin-top:210px;
}
.title h1{
    display: flex;
    color: rgb(50, 51, 51);
    font-size: 1cm;
    margin-bottom: 20px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
}
 #m{
    margin-left: 12px;
    color: rgb(50, 51, 51);
    font-family: 'Varela Round', sans-serif;
    font-weight: 700;
    font-size:1cm;
}
.title span{
    margin-left: 9px;
    color: rgba(249, 19, 7, 0.968);
    font-family: 'Varela Round', sans-serif;
    font-size:1cm;
    font-weight: 700;
}
 #p{
    font-family: 'Inter', sans-serif;
font-weight: 500;
color: rgb(100, 99, 99);
}
.title a{
    font-size:.38cm;
    font-weight: 500;
    font-family: 'Varela Round', sans-serif;
    border-radius:.15cm;
    background-color: black;
    padding: 8px 10px ;
    text-decoration: none;
    color: white;
    display: inline-block ;
    margin-left:100px;
    margin-top: 11px;
}
 .images{
    width: 44%;
    height: 66%;
    position: absolute;
    bottom: 0;
    right: 30px;
     margin-bottom:80px;
     margin-right:60px;
}
.images img{
   
    height: 100%;
    position: absolute;
    left: 40%;
    bottom: 0;
    transform: translateX(-20%);
    transition: bottum 1s, keft 1s;
}
.images .shape{
    padding-left:38px;
    padding-bottom:30px;
}
.images:hover .shape{
    bottom: 20px;
}
.images:hover .girl{
   left:32%;
}
#about{

    margin-left: 8%;
   margin-top: 170px;
    margin-right: 8%;
}
.heading{
   padding-top: 60px;
    text-align: center;
}
.heading h2{
   
    font-size: 30px;
}
.heading span{
   
    font-size: 35px;
    color: rgb(53, 205, 43);
}
.about-content{
    display: grid;
grid-template-columns: repeat(2,1fr);
gap: 1rm;
margin-top: 2rem;
}
.about-content img{
    margin-left:-25px;
    margin-top:-30px;
    width:470px;
    height:420px ;
    border-radius: .5rems;
}
.about-text{
    margin-top: 60px;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
}
.information{
    margin-top:40px;

}
.information .info-box{
    display: flex;
    align-items: center;
    margin-bottom: .6rem;
    color: rgb(76, 75, 75);
}
.information .info-box span{
    color: rgb(78, 77, 77);
font-weight: 500;
margin-left: 10px;
}
html{
    scroll-behavior:smooth;
}
#skill{
    margin-left: 8%;
   
    margin-right: 8%;
}
.skill-container{
    margin-left:20px;
    margin-top:92px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
}
#skill img{
    width:460px;
    height: 300px;
    object-position: center;
    padding-left: 4rem;
}
.bar-box{
    width:400px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.bar-box h3, span{
font-style: 1,1rem;
font-weight: 500;
}

.light-bar{
    position: absolute;
    width: 100%;
    height: .5rem;
    background-color: blue;
    bottom: 0;
    left: 0;
    border-radius: .5rem;
}
.percent-bar{
    position: absolute;
    width: 100%;
    background-color: yellow;
border-radius:.5rem ;
height: .5rem;
bottom: 0;
}
.html-bar{
    width: 80%;
}
.java-bar{
    width: 75%;
}
.angular-bar{
    width: 80%;
}
.node-bar{
    width: 70%;
}
#contact{
    margin-left: 8%;
    margin-top: 8%;
    margin-right: 8%;
}
.iconsdiv{
display: flex;
justify-content: center;
align-items: center;
margin-top:30px;
}
.icon{
margin-top:-10px;
margin-left:18px;
margin-right: 18px;
display: flex;
justify-content: center;
align-items: center;

}
.icon i{
    font-size: 30px;
}
.icon i:hover{
    color: rgb(128, 128, 128);
}

footer p{
    color: rgb(90, 89, 89);
text-align: center;
}
.arrow{
    
    margin-bottom:10px;
    margin-right:12px;
    width: 40px;
    height: 40px;
    background-color: rgb(210, 208, 208);
    border-radius: 50%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
::-webkit-scrollbar{
    width: 15px;
    display: none;
}
::-webkit-scrollbar-track{
    background-color: rgb(177, 177, 184);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(183, 194, 21);
}
